.addparts__about {
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    margin: 110px 70px 0px 70px;
    border: none;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 22px;
}

.addparts__margin-top {
    margin-top: 100px;
}

.border__bottom {
    border-bottom: 1px solid #424242;
    padding-bottom: 19px;
}

@media (max-width: 1023px) {
    .addparts__about {
        margin: 90px 50px 0px 50px;
    }   
    .border__bottom {
        border-bottom: 1px solid #E6E6E6;
    }
  }
    
@media (max-width: 767px) {
    .addparts__about {
        margin: 80px 30px 0px 30px;
        padding-bottom: 24px;
        font-size: 18px;
        letter-spacing: -0.72px;
    }
  }
    
@media (max-width: 425px) {
    .addparts__about {
        margin: 70px 18px 0px 18px;
        padding-bottom: 28px;
        border-bottom: 1px solid #000;
    }    

    .addparts__margin-top {
        margin-top: 100px;
        }    
} 
  